page-company {
    .page{
        background: linear-gradient(to bottom right,rgba(248, 248, 242, 0.952),rgba(66, 230, 12,0.94))
    }
    .pp{
        color: red;
    }
    .bg{
        color:#8a2be2;
        font-size: 1.25em;
    }
}
