page-home {
.css1{
    background: linear-gradient(to bottom right,rgba(250, 249, 249, 0.952),darkgreen)     
}
.css2{
    background: linear-gradient(to bottom right,rgba(250, 249, 249, 0.9520),Yellow)     
}
.css3{
    background: linear-gradient(to bottom right,rgba(250, 249, 249, 0.952),rgb(9, 43, 238))     
}
}
