page-employeer {
    .page{
        
        background: linear-gradient(to bottom right,rgba(250, 249, 249, 0.952),Red)        
        

    }
    .pp{
        color: red;
    }
    .bg{
        color:blueviolet;
        font-size: 1.25em;
    }
}
